.currency-card {
  list-style: none;
}

.currency-card button {
  background-color: #4369b2;
  border: none;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2% 3%;
  cursor: pointer;
}

.forward-icon {
  align-self: end;
}

.currency-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.currency-rate {
  display: flex;
  flex-direction: column;
  color: #d2d2d2;
  align-items: center;
}

.currency-rate span {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.4rem;
}

.currency-pair-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.currency-pair-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.currency-pair-time-container {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: rgb(169, 238, 169);
}
